# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
venv/
.env/
.venv/

# Environment variables
*.env

# macOS
.DS_Store

# Logs
*.log

# Editor settings
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
.idea/

# Byte-compiled / optimized / DLL files
*.so

# Local database
*.sqlite3

# Poetry
poetry.lock

# UV cache
.uv/
uv.lock

# FastAPI
*.db

# Test cache
.pytest_cache/
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# AI Personal Settings
.gemini/